.tokenRemaining,
.eth {
  background: linear-gradient(#fbb156, #fcb55e);
  padding: 12px !important;
  border-radius: 30px !important;
  border: 2px solid #d4a873;
}
.tokenRemaining p {
  margin-left: 8.9rem !important;
}

@media (min-width: 320px) {
  .tokenRemaining p {
    margin-left: 1.1rem !important;
  }
  .eth p {
    margin-left: 1.1rem !important;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 1024px) {
  .tokenRemaining p {
    margin-left: -18rem !important;
  }
  .eth p {
    margin-left:  -11rem !important;
  }
}
