.heroSection {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  height: 50vh;
  background: linear-gradient(104.78deg, #7192ffda 0%, #2451a4da 97.02%);
}

.heroSection h1 {
  font-weight: 700 !important;
 
}

.heroSection p {
  font-weight: 500 !important;
  font-family: 'Open Sans', sans-serif !important;

}

.connectBtnHero {
  background: linear-gradient(150.78deg, #7193ff, #2450a4 100.02%);

  border-radius: 30px !important;
  padding: 10px 35px !important;
  color: white !important;
  font-weight: 500 !important;
  border: 2px solid linear-gradient(#e8a02ba8, #e33930b0) !important;
  font-size: 15px;
}

.connectBtnHero:hover
{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #002341;
  transition: all 0.1s linear !important;
}


.connectBtnHero:focus
{
   box-shadow:  none !important;
}

@media (min-width: 320px) {
  .heroSection {
    height: 143vh;
  }
}

@media (min-width: 360px) {
  .heroSection {
    height: 105vh;
  }
}

@media (min-width: 375px) {
  .heroSection {
    height: 98vh;
  }
}

@media (min-width: 411px) {
  .heroSection {
    height: 88vh;
  }
}

@media (min-width: 768px) {
  .heroSection {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .heroSection {
    height: 60vh;
  }
}

@media (min-width: 1280px) {
  .heroSection {
    height:62vh;
  }
}


@media (min-width: 1440px) {
  .heroSection {
    height:55vh;
  }
}
