.tokenRemaining,
.eth {
  background: linear-gradient(#7193ff, #2450a4);
  padding: 12px !important;
  border-radius: 30px !important;
  border: 2px solid #002341;
}
.tokenRemaining p {
  margin-left: 8.9rem !important;
}

.MuiCard-root
{
  margin: 10px 0px !important;
}

.MuiCard-root:hover
{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-10px);
  transition: linear all 0.5s;
  cursor: pointer;
}

@media (min-width: 320px) {
  .tokenRemaining p {
    margin-left: 1.1rem !important;
  }
  .eth p {
    margin-left: 1.1rem !important;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 1024px) {
  .tokenRemaining p {
    margin-left: -18rem !important;
  }
  .eth p {
    margin-left:  -11rem !important;
  }
}

